body{
    background: lightseagreen;
}
h1{
    color:white;
    text-align: center;
}
.container{
    width:97%;
    height:auto;
    padding:20px;
    margin:20px;
    display:inline-flex;
    justify-content: space-around;
}
.box{
    color:lightcyan;
    background-color: #594f8d;
    text-align: center;
    margin:0;
    height:300px;
    width:220px;
    padding:20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    transition:0.5s;
}
.box img{
    border:1px solid;
    display: block;
    padding:10px;
    width:200px;
    height:200px;
    border-radius: 5px;
}
.box:hover{
    transform:scale(1.1);
    z-index:2;
}